# Data
data/
raw/

# Extras
00-2023/
01-Jan 2024/
12-Dec 2025/
01-Jan 2026/
02-Feb 2026/
03-Mar 2026/
04-Apr 2026/
05-May 2026/
May 2026 Plots/
OI Analysis/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node / Frontend
node_modules/
dist/
build/
dist-ssr/
*.local